.memory-game-container{
    display: flex;
    flex-direction: column;
  
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h2{
    margin-right: 15px;
}
.memory-game-board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr); 
    align-items: center;
}
.memory-cell{
    border: 1px solid black;
    /* background-color: aliceblue; */
    height: 140px;
    width: 140px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size:xx-large;
}
.memory-cell:hover{
    background-color: silver;
}