.kahoot-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  font-size: 0.875rem;
}
.kahoot-homepage{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.kahoot-hp-header{
  width: 100%;
  display: flex;
  padding: 2rem 5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  justify-content: center;
  font-size: 4vmin;
  font-weight: 700;
}
.kahoot-hp-body{
  height: 80%;
  width: 70%;
  /* border: 2px solid red; */
  /* display: flex;
  justify-content: space-between; */
  padding: 150px;
}
.kahoot-hp-body-btn{
  cursor: pointer;
  height: 150px;
  width: 100%;
  font-size: 3.6vmin;
  font-weight: 700;
  color: black;
  line-height: 1.25;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px -6px 0px 0px inset;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: none;
}
.kahoot-scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kahoot-scoreboard {
  width: 100%;
  display: flex;
  padding: 2rem 5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  justify-content: center;
  font-size: 4vmin;
  font-weight: 700;
}
.kahoot-scoreboard-main {
  width: 6500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.kahoot-start-btn {
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border: 0px;
  border-radius: 10px;
  background-color: rgb(253, 186, 0);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.kahoot-start-btn:hover {
  background-color: rgb(241, 179, 8);
}
.kahoot-quiz {
  display: flex;
  padding: 2rem 5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  font-weight: 700;
  height: 96px;
  position: relative;
}
.kahoot-quiz-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  letter-spacing: -0.063rem;
  font-size: 4vmin;
}
.kahoot-current-quiz {
  position: absolute;
  font-size: 1rem;
  top: 10px;
  left: 10px;
  background: rgba(143, 134, 134, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  
}
.kahoot-middle-secion {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.kahoot-point-status {
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
  font-size: 3vmin;
  font-weight: 700;
  border-radius: 50px;
}

.timeUp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  padding: 1rem;
  height: 4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 51, 85);
  position: absolute;
  top: 0;
}
.timeup-text {
  background: transparent;
  background: rgba(24, 20, 20, 0.2);
  border-radius: 5px;
  height: 80%;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.kahoot-answer-section {
  width: 100%;
}
.kahoot-next-btn {
  min-width: 8.25rem;
  animation: 0.3s ease;
  position: absolute;
  top: 25%;
  right: 1%;
  border: 0px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 25%) 0px -4px inset;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  min-height: 42px;
  padding: 0px 16px 4px;
  position: absolute;
}
.kahoot-answer-btn:disabled {
  opacity: 0.6;
}
.kahoot-btn0:hover {
  background-color: rgb(187, 17, 46);
}
.kahoot-btn0 {
  background-color: rgb(226, 27, 60);
  margin-right: 20px;
}
.kahoot-btn1:hover {
  background-color: rgb(10, 88, 184);
}
.kahoot-btn1 {
  background-color: rgb(19, 104, 206);
  margin-right: 20px;
}
.kahoot-btn2:hover {
  background-color: rgb(201, 149, 5);
}
.kahoot-btn2 {
  background-color: rgb(216, 158, 0);
  margin-right: 20px;
}
.kahoot-btn3:hover {
  background-color: rgb(29, 114, 8);
}
.kahoot-btn3 {
  background-color: rgb(38, 137, 12);
  margin-right: 20px;
}
.kahoot-answers {
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}
.kahoot-answer-btn {
  cursor: pointer;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6vmin;
  font-weight: 700;
  color: white;
  line-height: 1.25;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px -6px 0px 0px inset;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  fill: rgb(255, 255, 255);
}
.kahoot-answers-btn-text {
  display: flex;
  align-items: center;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-text {
  color: #aaa;
}

.timer-value {
  font-size: 40px;
}
