.shoppingList-container{
    min-height: 100vh;
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    padding-top: 30px;
}
.shoppingItem-main-container{
    display: flex;
    flex-direction: column;
    width: 65vw;
}
.SKU-item{
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
}
.singleItem-container{
    display: flex;
    min-width: 65vw;
    height: 80%;
    border-bottom: 2px solid silver;
    /* justify-content: space-between; */
}
.shoppingCard-main-container{
    /* position: absolute; */
    /* right: 0%; */
    width: 25vw;
    border: 1px solid black;
}
.shoplist-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}
.shoplist-information-1{
    display: flex;
    justify-content: space-between;
 
}
.shoplist-information-img{
    width: 25%;
}
.shoplist-information-rsection{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.product-plot{
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopping-addtocart-btn{
    background-color: #ffe000;
    color: #040c13;
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
}
.shopping-addtocart-btn:hover{
    transition: 0.3s;
    background-color: #f2f564;
}
.customer-cart-top{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid cadetblue;
    height: 70px;
    width: 100%;
}
.customer-card-text{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.customer-card-icon-container{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.customer-card-icon{
    height: 50%;
    width: 50%;
    color: cadetblue;
}
