.ttt-container {
    width: 260px;
    height: 260px;
    text-align: center;
}

.ttt-board {
    width: 260px;
    height: 260px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    grid-area: center;
}

.ttt-cell {
    width: 85px;
    height: 85px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    font-size: x-large;
}

.ttt-status {
    font-size: x-large;
    font-weight: 650;
    color: red;
    margin-bottom: 10px;
}

.ttt-button {
    cursor: pointer;
    color: red;
    font-size: large;
    font-weight: 550;
    margin-top: 10px;
}